img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  max-width: 1200px; /** Størrelse på skærm **/
  margin-inline: auto; /** Centrerer **/
  padding-left: 1rem; /** Venstre luft **/
  padding-right: 1rem; /** Højre luft **/
  background-color: #efe6dd;
}

html {
  --primary: #efe6dd;
}

body {
  background-color: var(--primary);
}

a {
  text-decoration: none;
}

/* Menu */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #011589;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Gør z-index højere end hero-billedet */
}

.logo img {
  width: 50px;
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Aboreto", system-ui;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #efe6dd;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #acc5e5;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #efe6dd;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

.menu_tekst {
  color: #efe6dd;
  margin-left: 20rem;
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #011589;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }

  .menu_tekst {
    margin-left: 0rem;
  }
}

/* FOOTER */

/* Footer (Desktop) */
@media (min-width: 700px) {
  .grid_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-left: 11rem;
  }
}

@media (max-width: 699px) {
  .grid_1_1_1 {
    text-align: center;
  }

  input {
    margin-left: 6rem;
  }
  form button {
    margin-left: 10rem;
  }
}

footer {
  background-color: #011589;
  color: #efe6dd;
  font-family: "Aboreto", system-ui;
  display: grid;
  padding: 2rem;
}

label,
input,
button {
  display: block;
  font-family: "Aboreto", system-ui;
}

form input,
form text {
  background-color: #efe6dd; /* Lysegrå baggrund */
  border: none;
  padding: 7px;
  margin-bottom: 20px;
}

form button {
  background-color: #efe6dd;
  color: #011589;
  border: none;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

form button:hover {
  background-color: #efe6dd;
  color: #acc5e5;
}

/* FONTS */

.aboreto-regular {
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}

/****font*****/
.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  font-family: "Aboreto", system-ui;
  margin-bottom: 10px;
}

p {
  font-family: "PT Serif", serif;
}
